@import '/src/styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  padding-top: 34px;
  padding-right: 28px;
  padding-left: 28px;
  padding-bottom: 22px;
  // min-height: 1200px;
  border-radius: 32px;
  margin-bottom: 32px;
}

.top-container {
  display: flex;
  flex-direction: column;
  height: 114px;
  gap: 4px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;

    .title {
      color: #d1d1d6;
      font-family: 'Inter';
      font-size: 24px;
      font-weight: 600;
      line-height: 29.05px;
    }

    .download-btn {
      background: #7839cd;
      border: 1.4px solid #7839cd;
      display: flex;
      align-items: center;
      border-radius: 10px;
      width: 140px;
      height: 48px;
      cursor: pointer;
      color: #fff;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 600;
      line-height: 16.94px;
      gap: 4px;
      justify-content: center;
      transition: all 0.3s;

      &:hover {
        background: #6b27c4;
        color: #fff;
      }

      .icon {
        font-size: 22px;
      }
    }
  }

  .search-container {
    display: flex;
    gap: 16px;
    height: 48px;

    .input-form {
      flex: 1;
      display: flex;
      position: relative;
      height: inherit;
      border: 1.4px solid #e4e4e4;
      border-radius: 10px;
      padding: 12px 18px;
      align-items: center;
      justify-content: center;

      input {
        height: 48px;
        color: #959595;
        font-family: 'Inter';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        outline: none;
        width: 100%;
        background-color: inherit;
        margin-left: 15px;
      }

      .search-icon {
        color: #959595;
        font-size: 22px;
        position: absolute;
        top: 25%;
        left: 5px;
      }
    }

    .filter {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4eefb;
      color: #7839cd;
      padding: 12px 18px;
      gap: 12px;
      cursor: pointer;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 600;
      line-height: 16.94px;
      border-radius: 10px;
      width: 107px;
      height: 48px;

      transition: all 0.3s;

      &:hover {
        background: #fff;
      }

      .filter-icon {
        color: #7839cd;
        font-size: 22px;
      }
    }

    .toolbar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
      border: 1.4px solid #e4e4e4;
      padding: 12px;
      border-radius: 10px;

      .toolbar-icon {
        color: #534d59;
        font-size: 22px;
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 31px 24px;
  font-size: 16px;
  line-height: 24px;
  color: #d1d1d6;
  font-family: 'Roboto';
  font-weight: 400;
  @include tablet{
    // grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    grid-template-columns: repeat(3, 1fr);
  }

  .card-container {
    grid-column: auto;
    display: flex;
    min-height: 300px;
    border-radius: 16px;
    gap: 0px;
    flex-direction: column;
    background: #d1d1d6;
    border-radius: 16px;
    overflow: hidden;

    .title {
      background: #d1d1d6;
      height: 40px;
      color: #46464a;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 700;
      font-family: 'Roboto';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    .inner-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background: #211f26;
      border-radius: 16px;
      padding: 10px 20px;
      flex: 1;

      .top {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .content {
          display: flex;
          flex-direction: column;
          font-family: 'Roboto';
          gap: 4px;

          .title-content {
            color: #f2f2f7;
            font-size: 24px;
            font-weight: 700;
          }

          .info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date,
            .time {
              color: #8e8e93;
              font-size: 14px;
              font-weight: 600;
              display: flex;
              gap: 2px;
              align-items: center;
            }
            .novice,
            .pro,
            .amateur {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 2px 8px;
              border-radius: 8px;
              background: #ffcc0033;
              color: #ffcc00;
              font-size: 14px;
              font-weight: 600;
              text-transform: capitalize;
            }
            .novice {
              background: #34c75933;
              color: #34c759 !important;
            }
            .pro {
              background: #ff3b3033;
              color: #ff3b30 !important;
            }
          }
        }

        .paragraph {
          font-size: 16px;
          line-height: 24px;
          color: #d1d1d6;
          font-family: 'Roboto';
          font-weight: 400;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          align-self: stretch;
          overflow: hidden;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Roboto';
        color: #fff;

        .price {
          font-size: 16px;
          font-weight: 600;

          span {
            font-weight: 400;
          }
        }
        .dotted {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #d9d9d9;
        }
        .max {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}