@import '/src/styles/index.scss';

.container {
  display: grid;
  position: relative;
  grid-template-rows: 89px 1fr; /* 89px header, remaining for content */
  grid-template-columns: 250px 1fr; /* 291px sidebar, remaining for main area */
  height: 100vh; /* Full viewport height */
  width: 100vw;
  background: #282c35;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar main';
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.header {
  grid-area: header;
  background: #282c35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 72px;

  .link {
    display: none;
    height: 32px;
    width: 194px;
    cursor: pointer;

    @include tablet {
      display: flex;
    }

    .link-img {
      width: inherit;
      height: inherit;
    }
  }
  .pageTitle {
    font-family: var(--font-avenir);
    font-size: 16px;
    font-weight: 800;
    line-height: 21.86px;
    color: #f2f2f7;
  }
  .logout {
    // height: 24px;
    padding: 6px 10px;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    color: #c7c7cc;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #78788033;

      svg {
        color: #fff !important;
      }
    }
  }
}

.sidebar {
  grid-area: sidebar;
  background: #282c35;
  min-height: 100%; /* Ensures sidebar takes full height */
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 60px !important;

  .sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 49px;
    height: 100%;
    width: 100%;
    padding-right: 28px;

    .sidebar-title {
      font-family: var(--font-avenir);
      font-size: 32px;
      font-weight: 800;
      line-height: 43.71px;
      color: #f2f2f7;

      span {
        color: rgb(128, 128, 128);
      }
    }

    .sidebars {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 235px;
      gap: 5px;

      .navItem-active,
      .navItem {
        display: flex;
        cursor: pointer;
        align-items: center;
        min-height: 55px;
        gap: 16px;
        border-radius: 8px;
        color: #8e8e93;
        font-family: var(--font-avenir);
        font-size: 16px;
        font-weight: 800;
        line-height: 21.86px;
        padding: 16px 30px;
        transition: all 0.3s;

        &:hover {
          color: #fff;
          background: #78788033;

          svg {
            color: #fff !important;
          }
        }
      }

      .navItem-active {
        color: #fff;
        background: #78788033;

        svg {
          color: #fff !important;
        }
      }
    }
  }
}

.main {
  grid-area: main;
  background: #1f2431;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  scrollbar-width: none !important;
  scrollbar-color: #0000001a transparent;

  /* Track */
  &::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #0000001a; /* color of the scrollbar handle */
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar handle on hover */
  }
}
